# Python cache
__pycache__/
# Virtual environments
venv/
.env/
.venv/
.vscode
result
plugins/*
wallpapers/*
templates/*
themes/*
icon_packs/*
styles/colors.css
styles/borders.css
styles/fonts.css

# Logs / misc
*.log
*.so
config/*.json